# AI Kubernetes Troubleshooting Agent - Backend
OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemini-2.5-flash
KUBECONFIG_PATH=~/.kube/config
INSFORGE_URL=https://ahnx8ffi.us-east.insforge.app
INSFORGE_ANON_KEY=
